*.sdf
OpenCV distortion/ImageDistortion.sdf
*.pdb
*.ipch
OpenCV distortion/ipch/LAB2-5b5cd973/IMAGEDISTORTION-9060461c.ipch
*.pch
*.obj
*.tlog
*.filters
*.opendb
*.tlog
*.pch
*.log
*.tlog
*.suo
*.obj
*.lastbuildstate
*.pch